<p class="commenter"><%= comment.user.name%> <strong><%= comment.user.trusted_string %></strong>
  <% if comment.user == @review.user %>
    | <strong>Original Reviewer</strong>
  <% end %>
</p>
<p><%= comment.content %></p>
<% if current_user %>
  <a href="/comments/<%= comment.id %>/flag">Flag Comment</a>
<% end %>
