<div id="nested_comment">
<%= comment.user.name%> <strong><%= comment.user.trusted_string %></strong>
  <% if comment.user == @review.user %>
    | <strong>Original Reviewer</strong>
  <% end %>
</p>
<p><%= comment.content %></p>
<% if current_user %>
  <%= link_to flag_nested_comment_path(comment), method: :put do %>
    <% if (current_user.disliked? comment) %>
      Unflag Comment
    <% else %>
      Flag Comment
    <% end %>
  <% end %>
<% end %>
</div>
